*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1002px;
}
#nav .wrapper{
    height: 120px;

}
#nav .wrapper a.logo{
    width: 189px;
    height: 47px;
    padding-top: 37px;
    float: left;
}
#nav .wrapper ul{
    float: left;
    margin-left: 94px;
}
#nav .wrapper ul li{
    float: left;
    font-size: 15px;
    color:#626262;
    margin-top: 50px;
    line-height: 21px;
    cursor: pointer;
}
#nav .wrapper ul li a{
    float: left;
    padding:0 25px;
}
#nav .wrapper ul li div.line{
    height: 14px;
    width: 1px;
    background: #6b6b6b;
    float: right;
    margin-top: 3px;
}
#search{
    width: 130px;
    height: 30px;
    float: right;
    margin-top: 45px;
    background: #f1f3f6;
    border: 1px ;
}
#search input{
    border: none;
    outline: none;
    width: 90px;
    height: 100%;
    padding: 0 10px;
    background: #f1f3f6;

    /*padding-left: 10px;*/
}
#search span{
    width: 10px;
    height: 12px;
    background: url('../imgs/search-icon.png') no-repeat;
    float: right;
    margin-top: 8px;
    padding-right: 10px;
}
#banner{

    height: 460px;
    background-color: #31333e;

}
#banner .wrapper{
    position: relative;
    height: 100%;

}
#banner .wrapper  img{
    display: block;
    /*float: left;*/
    /*width: 732px;*/
    /*height: 50px;*/
    margin: 0 auto;
    /*padding-top: 40px ;*/

}
#banner .wrapper .prev{
    position: absolute;
    top:205px;
    left:0 ;
    width: 29px;
    height: 50px;
    background-image: url("../imgs/Shape-14-copy.png");
}
#banner .wrapper .next{
    position: absolute;
    top:205px;
    right: 0;
    width: 29px;
    height: 50px;
    background-image: url("../imgs/Shape-14.png") ;
}
#news .wrapper{
    padding:85px 0;

}
#news .wrapper .content{
    width: 33.3%;
    text-align: center;
    /*background: red;*/
    float: left;

}
#news .wrapper .content .web-design{
    font-size: 30px;
    color:#626262;

}
#news .wrapper .content img{
    width: 100px;
    height: 100px;
    margin: 27px 0;
}

#news .wrapper .content .news-text{
    font-size: 15px;
    color: #2a2e39;

}
#news .wrapper .content .read-more{
    text-decoration: none;
    font-size: 15px;
    color: #00aeff;
    display: block;
    padding: 30px 0;

}
#works{
    height: 500px;
    width: 100%;
    background: red;
    background: #e2e7ed;
    float: left;
}
#works .wrapper h2{
    margin: 30px 0 20px 0;
    font-size: 30px;
    color: #626262;
}
#works .wrapper ul li{
    float: left;
    width: 250px;
    height: 200px;
}
#clients{
    height: 154px;
    width: 100%;
    background: white;
    float: left;
}
#clients .wrapper{
    position: relative;
}
#clients .wrapper h2{
    margin: 30px 0 20px 0;
    font-size: 30px;
    color: #626262;

}
#clients .wrapper ul{
    text-align: center;

    width: 100%;
    height: 52px;
    /*margin: 0 auto;*/
}
#clients .wrapper ul li{
    display: inline-block;
    margin: 0 18px;
}


#clients .wrapper .prev{
    display: block;
    width: 24px;
    height: 40px;
    background-image: url("../imgs/arrow left.png");
    position: absolute;
    left:0;
    top:56px;
}
#clients .wrapper .next{
    display: block;
    width: 24px;
    height: 40px;
    background-image: url("../imgs/arrow right.png");
    position: absolute;
    right: 0;
    top:56px;
}
#footer{
    width: 100%;
    height: 176px;
    background-color: #31333e;
    float: left;
}
#footer .wrapper{
    position: relative;
}
#footer .wrapper .foot-text{
    /*float: left;*/
    display: block;
    margin-left: -14px;
    height: 68px;

}
#footer .wrapper .foot-text li{
    float: left;
    font-size: 15px;
    color:#e2e7ed;
    margin-top: 50px;
    line-height: 21px;
}
#footer .wrapper .foot-text li a{
    float: left;
    padding:0 14px;
}
#footer .wrapper .foot-text li div.line{
    height: 14px;
    width: 1px;
    background: #6b6b6b;
    float: right;
    margin-top: 3px;
}

#footer .wrapper .p1{
    font-size: 15px;
    color:#e2e7ed;
    clear: both;
    margin: 16px 0;
}
#footer .wrapper .p2{
    float: left;
    font-size: 12px;
    color:#e2e7ed;
    margin: 18px 0;
}
#footer .wrapper .footer-img{
    position: absolute;
    top:44px;
    right: 0;
}
#footer .wrapper .footer-img li{
    float: left;
    margin-right: 20px;

}



